{% extends "base.html" %}

{% block content %}
	<div class="col-sm-8 col-sm-offset-2">
	  <h2><b>{{ post.title }}</b></h2>
	  <p>{{ post.content }}</p>
	

	<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

	<hr>
	<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
	{% for comment in post.comments.all %}
		<p>{{ comment.body|linebreaks }}</p>
	{% empty %}
		<p>No comments here yet :(</p>
	{% endfor %}
	</div>
{% endblock %}

<script>
	alert({{ message }});
</script>
