{% load compress humanize staticfiles hc_extras %}

<form method="post">
{% csrf_token %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="update-timeout-title">Assign Checks to Channel</h4>
</div>

<input type="hidden" name="channel" value="{{ channel.code }}" />
<table class="table channel-checks-table">
    <tr>
        <th class="check-all-cell">
            <input
                id="toggle-all"
                type="checkbox"
                class="toggle" />
        </th>
        <th class="check-all-cell" colspan="2">
            Select / Unselect All
        </th>
        <th class="check-all-cell"></th>
    </tr>
    {% for check in checks %}

    <tr {% if check not in allowed %}
        class="disabled-element" {% endif %}
    >
        <td>

            <input
                type="checkbox"
                {% if check not in allowed%} disabled readonly
                    data-toggle="tooltip"
                    title="Go to settings to enable this check for this member."
                {% else %}
                    data-toggle="checkbox-x"
                    class="toggle"
                    {% if check.code in assigned %} checked {% endif %}
                {% endif %}
                name="check-{{ check.code }}">

        </td>
        <td>
            {% if check.name %}
                {{ check.name }}
            {% else %}
                <span class="unnamed">unnamed</span>
            {% endif %}
        </td>
        <td>
            <code>{{ check.code }}</code>
        </td>
        <td>
            {% if check not in allowed %} <i>(disabled for member)</i> {% endif %}
        </td>
    </tr>
    {% endfor %}

</table>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
</div>
</form>

