{% extends "base.html" %}
{% load compress humanize staticfiles %}

{% block title %} FAQs {% endblock %}

{% block containers %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <!-- <div class="col-sm-8"> -->
                <img class="img-responsive" src="/static/img/add_check.png">
            <!-- </div> -->
        </div>
        <div class="col-sm-6">
<div>
    <h2 >How to add a check</h2>
    <p id="pitch-text">
    To add a check, you first need to enter your preferred e-mail address on the welcome page.
    <br/>
    This will enable you to receive alerts whenever your check goes down.
    <br/>
    After the e-mail has been added, you will receive an e-mail with a login link.
    <br/>
    On clicking the link you will be redirected to the checks page and from there all you need to is to click on the add check button.
</p>
</div>
</div>


</div>
<div class="row">
    <div class="col-sm-6">
        <!-- <div class="col-sm-8"> -->
            <img class="img-responsive" src="/static/img/ping_check.png">
        <!-- </div> -->
    </div>
    <div class="col-sm-6">
        <div>
            <h2>How to ping a check</h2>
            <p id="pitch-text">
            To ping a check, go to the checks page and copy the ping url whenever your check goes down.
            There a number of ways to ping.
            The link can be pasted in a browser search bar and following it will return the message OK.
            After pinging a check it will either go from never pinged to up or down to up depending on whether it had been pinged before.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <!-- <div class="col-sm-8"> -->
            <img class="img-responsive" src="/static/img/integrate_email.png">
        <!-- </div> -->
    </div>
    <div class="col-sm-6">
        <div>
        <h2>What should I do? I'm not getting notifications</h1>
            <p>
            If you have added checks but you do not seem to be getting notifications, please ensure that you have signed up for an email integration from the integrations tab.
            In addition to this, unless a check has been pinged for the first time you will not get e-mail notifications.
            Therefore ensure you ping your notification immediately after you add it.
        </p>
        </div>
    </div>
</div>

</div>

{% endblock %}
